@import "tailwindcss";

:root {
  --background: linear-gradient(254deg, #050106 3.51%, #120517 86.99%);
  --foreground: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
